.nav-container {
  position: absolute;
}

.loc-div {
  color: white;
  font-size: 13px;
  text-decoration: none;
  opacity: 0.9;
}

.loc-div:hover {
  border: 1px solid white;

  height: 55px;
  color: white;
}

.link-btn > a {
  color: white;
  text-decoration: none;
  text-align: start;
}

.link-btn > a:hover {
  border: solid white 1px;
  color: white;
}
